[submodule "dmcontrol"]
	path = dmcontrol
	url = git@github.com:camall3n/rad.git
[submodule "visgrid"]
	path = visgrid
	url = git@github.com:camall3n/visgrid.git
[submodule "disent"]
	path = disent
	url = git@github.com:camall3n/disent.git
[submodule "dreamerv2"]
	path = dreamerv2
	url = git@github.com:camall3n/dreamerv2.git

