[submodule "markov_abstr/dmcontrol"]
	path = dmcontrol
	url = ../rad.git
[submodule "markov_abstr/gridworld/visgrid"]
	path = visgrid
	url = ../visgrid.git
[submodule "disent"]
	path = disent
	url = git@github.com:camall3n/disent.git
